@keyframes edut_tachki3 {
  0% {left: 20%}
  100% {left: 100%}
}
@keyframes edut_tachki4 {
  0% {left: -30%}
  100% {left: 110%}
}
/* @keyframes edut_tachki5 {
  0% {left: -30%}
  100% {left: 110%}
}
@keyframes nitro {
  to {
    margin-left: 30%;
  }
} */
@keyframes bip_bip_flashing {
 0% {background: url(../images/bip_bip.svg) no-repeat;}
 49% {background: url(../images/bip_bip.svg) no-repeat;}
 50% {background: url(../images/bip_bip2.svg) no-repeat;}
 100% {background: url(../images/bip_bip2.svg) no-repeat;}
}
