/* _______________________________________________ */
/* первый экран */
@keyframes text2_part1_animation {

}


/* второй экран */

@keyframes light1_work {
  0% {opacity: 0.4} 5% {opacity: 0.4}
  6% {opacity: 1} 20% {opacity: 1}
  21% {opacity: 0} 22% {opacity: 0}
  23% {opacity: 1} 24% {opacity: 1}
  25% {opacity: 0} 26% {opacity: 0}
  27% {opacity: 1} 28% {opacity: 1}
  29% {opacity: 0} 30% {opacity: 0}
  31% {opacity: 1} 32% {opacity: 1}
  33% {opacity: 0} 34% {opacity: 0.4} 100% {opacity: 0.4}
}
@keyframes light1_work_iphone_ipad {
  0% {opacity: 0.4} 5% {opacity: 0.4}
  6% {opacity: 1} 20% {opacity: 1}
  21% {opacity: 0} 22% {opacity: 0}
  23% {opacity: 1} 24% {opacity: 1}
  25% {opacity: 0} 26% {opacity: 0}
  27% {opacity: 1} 28% {opacity: 1}
  29% {opacity: 0} 30% {opacity: 0}
  31% {opacity: 1} 32% {opacity: 1}
  33% {opacity: 0} 34% {opacity: 0} 100% {opacity: 0}
}
@keyframes red_signal_work {
  0% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(0.98);} 5% {opacity: 0.4; transform: skew(20deg) scale(0.98);}
  6% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  20% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  21% {opacity: 0; transform: skew(20deg) scale(0.98);} 22% {opacity: 0; transform: skew(20deg) scale(0.98);}
  23% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  24% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  25% {opacity: 0; transform: skew(20deg) scale(0.98);} 26% {opacity: 0; transform: skew(20deg) scale(0.98);}
  27% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  28% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  29% {opacity: 0; transform: skew(20deg) scale(0.98);} 30% {opacity: 0; transform: skew(20deg) scale(0.98);}
  31% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  32% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  33% {opacity: 0; transform: skew(20deg) scale(0.98);} 34% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(1);} 100% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(1);}
}
@keyframes red_signal_work_iphone_ipad {
  0% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(0.98);} 5% {opacity: 0.4; transform: skew(20deg) scale(0.98);}
  6% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  20% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  21% {opacity: 0; transform: skew(20deg) scale(0.98);} 22% {opacity: 0; transform: skew(20deg) scale(0.98);}
  23% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  24% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  25% {opacity: 0; transform: skew(20deg) scale(0.98);} 26% {opacity: 0; transform: skew(20deg) scale(0.98);}
  27% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  28% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  29% {opacity: 0; transform: skew(20deg) scale(0.98);} 30% {opacity: 0; transform: skew(20deg) scale(0.98);}
  31% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  32% {opacity: 1; box-shadow: 0px 0px 40px 20px #FF0000; transform: skew(20deg) scale(1);}
  33% {opacity: 0; transform: skew(20deg) scale(0.98);} 34% {opacity: 0; box-shadow: none; transform: skew(20deg) scale(1);} 100% {opacity: 0; box-shadow: none; transform: skew(20deg) scale(1);}
}
@keyframes light2_work {
  0% {opacity: 0.4} 34% {opacity: 0.4}
  35% {opacity: 1} 50% {opacity: 1}
  51% {opacity: 0} 52% {opacity: 0}
  53% {opacity: 1} 54% {opacity: 1}
  55% {opacity: 0} 56% {opacity: 0}
  57% {opacity: 1} 58% {opacity: 1}
  59% {opacity: 0} 60% {opacity: 0}
  61% {opacity: 1} 62% {opacity: 1}
  63% {opacity: 0.4} 100% {opacity: 0.4}
}
@keyframes light2_work_iphone_ipad {
  0% {opacity: 0} 34% {opacity: 0}
  35% {opacity: 1} 50% {opacity: 1}
  51% {opacity: 0} 52% {opacity: 0}
  53% {opacity: 1} 54% {opacity: 1}
  55% {opacity: 0} 56% {opacity: 0}
  57% {opacity: 1} 58% {opacity: 1}
  59% {opacity: 0} 60% {opacity: 0}
  61% {opacity: 1} 62% {opacity: 1}
  63% {opacity: 0} 100% {opacity: 0}
}
@keyframes yellow_signal_work {
  0% {opacity: 0.4; transform: skew(20deg) scale(0.98)} 34% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(0.98)}
  35% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  50% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  51% {opacity: 0; transform: skew(20deg) scale(0.98)} 52% {opacity: 0; transform: skew(20deg) scale(0.98)}
  53% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  54% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  55% {opacity: 0; transform: skew(20deg) scale(0.98)} 56% {opacity: 0; transform: skew(20deg) scale(0.98)}
  57% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  58% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  59% {opacity: 0; transform: skew(20deg) scale(0.98)} 60% {opacity: 0; transform: skew(20deg) scale(0.98)}
  61% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  62% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  63% {opacity: 0; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(0.98)}
  64% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(1)} 100% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(1) }
}
@keyframes yellow_signal_work_iphone_ipad {
  0% {opacity: 0; transform: skew(20deg) scale(0.98)} 34% {opacity: 0; box-shadow: none; transform: skew(20deg) scale(0.98)}
  35% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  50% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  51% {opacity: 0; transform: skew(20deg) scale(0.98)} 52% {opacity: 0; transform: skew(20deg) scale(0.98)}
  53% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  54% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  55% {opacity: 0; transform: skew(20deg) scale(0.98)} 56% {opacity: 0; transform: skew(20deg) scale(0.98)}
  57% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  58% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  59% {opacity: 0; transform: skew(20deg) scale(0.98)} 60% {opacity: 0; transform: skew(20deg) scale(0.98)}
  61% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  62% {opacity: 1; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(1)}
  63% {opacity: 0; box-shadow: 0px 0px 40px 20px #FFD42F; transform: skew(20deg) scale(0.98)}
  64% {opacity: 0; box-shadow: none; transform: skew(20deg) scale(1)} 100% {opacity: 0; box-shadow: none; transform: skew(20deg) scale(1) }
}

@keyframes light3_work {
  0% {opacity: 0.4} 63% {opacity: 0.4}
  64% {opacity: 1} 100% {opacity: 1}
}
@keyframes light3_work_iphone_ipad {
  0% {opacity: 0} 63% {opacity: 0}
  64% {opacity: 1} 100% {opacity: 1}
}
@keyframes green_signal_work {
  0% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(0.98)} 63% {opacity: 0.4; box-shadow: none; transform: skew(20deg) scale(0.98)}
  64% {opacity: 1; box-shadow: 0px 0px 40px 20px #11DA00; transform: skew(20deg) scale(1)}
  100% {opacity: 1; box-shadow: 0px 0px 40px 20px #11DA00; transform: skew(20deg) scale(1)}
}
@keyframes green_signal_work_iphone_ipad {
  0% {opacity: 0; box-shadow: none; transform: rotate(-32deg) scale(0.98)} 63% {opacity: 0; box-shadow: none; transform: rotate(-32deg) scale(0.98)}
  64% {opacity: 1; transform: rotate(-32deg) scale(1)}
  100% {opacity: 1; transform: rotate(-32deg) scale(1)}
}

@keyframes printed_text1 {
  from {width: 0;}
}
@keyframes printed_text2_opacity {
  0% {opacity: 0}
  100% {opacity: 0}
}
@keyframes phrase1_disappear {
  0% {top: 0%}
  94% {top: 0%}
  100% {top: 90%}
}
@keyframes phrase2_disappear {
  0% {opacity: 1; top: 0%}
  94% {opacity: 1; top: 0%}
  100% {opacity: 1; top: 70%}
}

/* _______________________________________________ */
/* третий экран */

@keyframes maschiny_v_probke {
  0% {margin-bottom: 0%;}
  19% {margin-bottom: 0%;}
  20% {margin-bottom: 0.5%; , margin-left: 1%}
  39% {margin-bottom: 0.5%; margin-left: 1%}
  40% {margin-bottom: 0%;}
  59% {margin-bottom: 0%;}
  60% {margin-bottom: 1%;}
  79% {margin-bottom: 1%;}
  80% {margin-bottom: 0%; margin-left: 1%}
  99% {margin-bottom: 0%; margin-left: 1%}
  100% {margin-bottom: 1%;}
}
@keyframes maschiny_v_probke2 {
  0% {margin-bottom: 1%;}
  19% {margin-bottom: 1%;}
  20% {margin-bottom: 0%; margin-right: 1%}
  39% {margin-bottom: 0%; margin-right: 1%}
  40% {margin-bottom: 1%;}
  59% {margin-bottom: 1%;}
  60% {margin-bottom: 0%;}
  79% {margin-bottom: 0%;}
  80% {margin-bottom: 1%;}
  99% {margin-bottom: 1%;}
  100% {margin-bottom: 0%;}
}
@keyframes maschiny_v_probke3 {
  0% {margin-bottom: 0%; margin-left: 1%}
  19% {margin-bottom: 0%; margin-left: 1%}
  20% {margin-bottom: 1%;}
  39% {margin-bottom: 1%;}
  40% {margin-bottom: 0%; margin-left: 1.5%}
  59% {margin-bottom: 0%; margin-left: 1.5%}
  60% {margin-bottom: 1%;}
  79% {margin-bottom: 1%;}
  80% {margin-bottom: 0%; margin-left: 1%}
  99% {margin-bottom: 0%; margin-left: 1%}
  100% {margin-bottom: 1%;}
}
@keyframes edut_tachki1 {
  0% {}
  100% {left: 130%;}
}
@keyframes edut_tachki2 {
  0% {bottom: 0%;}
  10% {bottom: 2%;}
  15% {bottom: 0%;}
  20% {bottom: 2%;}
  25% {bottom: 0%;}
  29% {bottom: 0%;}

  30% {bottom: 2%; left: 30%;}
  34% {bottom: 2%; left: 30%;}

  35% {bottom: 0%; left: 35%;}
  39% {bottom: 0%; left: 35%;}

  40% {bottom: 4%; left: 40%;}
  44% {bottom: 4%; left: 40%;}

  45% {bottom: 0%; left: 45%;}
  49% {bottom: 0%; left: 45%;}

  50% {bottom: 4%; left: 50%;}
  54% {bottom: 4%; left: 50%;}


  60% {bottom: 0%;}
  61% {bottom: 2%;}
  60% {bottom: 0%;}
  61% {bottom: 2%;}
  62% {bottom: 0%;}
  /* 100% {left: 130%;} */
}

@keyframes car1_animation {
  100% {left: 100%;}
}
@keyframes car1_animation2 {
  0% {left: -30%;}
  100% {left: 100%;}
}
@keyframes car1_animation2_iphone {
  0% {left: -70%;}
  100% {left: 100%;}
}
@keyframes car2_animation2_iphone {
  0% {left: -55%;}
  100% {left: 100%;}
}
@keyframes car1_animation3 {
  0% {bottom: 0%}
  10% {bottom: 2%}
  20% {bottom: 0%}
  30% {bottom: 2%}
  40% {bottom: 3%}
  50% {bottom: 2%}
  60% {bottom: 0%}
  70% {bottom: 1%}
  80% {bottom: 0%}
  90% {bottom: 3%}
  100% {bottom: 1%}
}

@keyframes edut_tachki3 {
  0% {left: 35%}
  100% {left: 100%}
}
@keyframes edut_tachki4 {
  0% {left: -30%}
  100% {left: 100%}
}
@keyframes edut_tachki5 {
  0% {left: -30%}
  100% {left: 120%}
}
@keyframes third_slider_wrapper_animation {
  0% {bottom: 0%}
  10% {bottom: 3%}
  20% {bottom: 0%}
  30% {bottom: 3%}
  40% {bottom: 1%}
  50% {bottom: 3%}
  60% {bottom: 0%}
  70% {bottom: 2%}
  80% {bottom: 0%}
  90% {bottom: 3%}
  100% {bottom: 1%}
}



@keyframes bip_bip_flashing {
 0% {background: url(../images/bip_bip.svg) no-repeat; background-position-x: center; background-position-y: 30%;}
 49% {background: url(../images/bip_bip.svg) no-repeat; background-position-x: center; background-position-y: 30%;}
 50% {background: url(../images/bip_bip2.svg) no-repeat; background-position-x: center; background-position-y: 30%;}
 100% {background: url(../images/bip_bip2.svg) no-repeat; background-position-x: center; background-position-y: 30%;}
}
