/* the layout on iphone */
@media only screen and (min-device-width: 320px) and (max-device-width: 765px) {
  .wrapper2 {width: 470%; grid-template-columns: 1fr 1fr 1fr 1fr 0.7fr;}
  .wrapper2_action4 {left: -370%;}
  .plushka {
    display: none;
    top: -83%;
    right: 4%;
    border: 8px solid black;
    height: 16%;
    width: 27%;
  }
  .plushka div {font-size: 11px;  margin-top: 11%;}
  .block1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.9fr 9%;
    grid-template-areas:  "part1"
                          "part2"
                          "part3"
  }
  .button1_block1, .button2_block1, .button3_block1 {display: none;}
  .p1 {font-size: 81px; margin-left: 5%;  margin-top: -2%;}
  .p2 {display: none;}
  .slider_wrapper {border-radius: 40px; border: 8px solid black;}
  .part2 {
    grid-template-columns: 2.5% 1fr 2.5%;
    grid-template-rows: 6% 1fr 7%;
    grid-template-areas: ". . ."
                         ". slider_wrapper ."
                         ". . ."
  }
  .part3 {border-top: 3px solid black; border-bottom: 3px solid black; grid-template-columns: 46% 27% 27%;}
  .text1_part1 {display: none;}
  .button_general_block1 {height: 36%; width: 4.8%; border: 6px solid black;}
  .part3_1 img {height: 69%; width: 9.5%;}
  .part3_2 img {top: 42%; right: 34%;}
  .part3_2 div {font-size: 11px; margin-left: 15%; margin-top: 9%;}
  .part3_3 {border-left: 3px solid black;}
  .vpered1 {font-size: 22px; margin-top: 7%;}
  .next1, .next2, .next3 {background-size: 21px 35px;}
  .previous1, .previous2, .previous3 {background-size: 21px 35px; margin-left: 16%; width: 100%;}
  .line1, .line2, .line3 {display: block; position: absolute; height: 1.5%; width: 100%; background-color: black;}
  .line1 {top: 30%; left: 6%; width: 54%;}
  .line2 {top: 63%; left: 6%; width: 89%;}
  .line3 {top: 97%; left: 6%; width: 89%;}
  .slider1, .slider2 {border-bottom: 3px solid black; border-left: 3px solid black; border-right: 3px solid black;}
  .slider3 {border-left: 3px solid black; border-right: 3px solid black;}
  .previous1 img, .previous2 img, .previous3 img {height: 50%;}
  .next1 img, .next2 img, .next3 img {height: 50%;}


  /* начало второго блока */
  .block2 {grid-template-rows: 1fr 9%;}
  .mainpart {display: block; }
  .light1, .light2, .light3 {grid-area: none; height: 95%; width: 80%; position: absolute; margin: 5% 10%;}
  .stop_signal, .wait_signal, .go_signal {font-size: 75px;}
  .oval1 {opacity: 0; animation: red_signal_work_iphone_ipad 25s linear;}
  .stop_signal {opacity: 0; animation: light1_work_iphone_ipad 25s linear;}

  .oval2 {opacity: 0; animation: yellow_signal_work_iphone_ipad 25s linear;}
  .wait_signal {opacity: 0; animation: light2_work_iphone_ipad 25s ease;}

  .oval3 {opacity: 1; animation: light3_work_iphone_ipad 25s linear;}
  .go_signal {opacity: 1; animation: green_signal_work_iphone_ipad 25s ease;}

  .footer2 {
    grid-template-columns: 1fr 27%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }
  .phrase1 {animation: none;}
  .phrase1 div {
    font-size: 14px;
    /* display: none; */
    animation: none;
    display: inline-block;
    font-size: 23px;
    margin-top: 1.5%;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
  }
  .phrase1_part1 {display: none;}
  .phrase2 div, .phrase3 {display: none;}
  .part2_footer2 {animation: none; border-left: 3px solid black;}
  .part2_footer2 div {font-size: 22px; margin-top: 7%;}


  /* начало третьего блока */
  .block3 {
    grid-area: block3;
    grid-template-rows: 1fr 9%;
  }
  .dashed_line img {
    width: 218%;
    height: 100%;
  }
  .car7, .car8, .car9, .car10 {display: none;}
  .car5 {margin-left: 0%; width: 54%;}
  .car6 {width: 44%;}
  .car3 {margin-left: -15%;}
  .car4 {margin-right: 0%; margin-left: 9%;}
  .car3, .car4, .car2, .car1 {width: 51%;}
  .car5 img, .car4 img, .car1 img {height: 120%;}
  .car6 img, .car3 img, .car2 img {height: 100%;}

  .second_slider_wrapper {
    height: 139%;
    width: 72%;
    margin-left: -19%;
  }
  .footer3 {
    grid-template-columns: 14% 28% 1fr 27%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }
  .part1_footer3, .part2_footer3 {border-right: 3px solid black;}
  .part1_footer3 div, .part2_footer3 div, .part5_footer3 div {
    font-size: 22px;
    margin-top: 7%;
  }
  .part1_footer3 div {margin-top: 14%;}
  .part5_footer3 {border-left: 3px solid black;}
  .bip_bip_button {
    width: 93%;
    top: -10%;
    left: 4%;
  }

  /* начало четвертого блока */
  .block4 {grid-template-rows: 1fr 9%;}
  .mainpart4 {grid-template-rows: 3% 10% 1fr 3%;}
  .slider_block4_part1 {grid-template-columns: 7% 1fr 7%;}
  .city_slider {grid-template-columns: 16% 1fr 16%;}
  #city_name_paragraphs {margin-top: 9%; font-size: 24px;}
  .previous_button_part4 img, .next_button_part4 img {top: 16%;}
  .next_button_part4 img {left: 1%;}
  .slider_block4_part2 {border: 8px solid black;}
  .rectangle_part4 {
    height: 84%;
    width: 94%;
    border-radius: 30px;
    border: 8px solid black;
  }
  .third_slider_wrapper {
    left: 6%;
    height: 55%;
    width: 86%;
  }
  .footer4 {
    grid-template-columns: 1fr 1fr 27%;
    grid-template-areas:  "part1_footer4 part2_footer4 part3_footer4";
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }
  .part3_footer4 {border-left: 3px solid black;}
  .vpered4 {font-size: 22px; margin-top: 7%;}
  .road_sign_1 {
    top: 9%;
    left: -1%;
    height: 17%;
    width: 28%;
  }
  .road_sign_2 {display: none;}
  .road_sign_3 {
    top: 9%;
    right: 2.5%;
    height: 18%;
    width: 38%;
  }
  .button1_block4, .button2_block4, .button3_block4, .button4_block4, .button5_block4, .button6_block4, .button7_block4, .button8_block4, .button9_block4, .button10_block4, .button11_block4, .button12_block4 {
    height: 4%;
    width: 6%;
    border: 6px solid black;
  }
  .city11 p, .city9 p {  font-size: 19px !important;}

  /* начало футера */
  .footer {grid-auto-rows: 1fr 9%;}
  .picture_footer {
    border-left: 3px solid black;
  }
  .picture_footer img {
    top: -5%;
    left: -2%;
    height: 107%;
    width: 102%;
  }
  .text_footer {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
  }
  .text_footer div {font-size: 13px;}
  .text_footer2 {width: 47%;}
}



/* the layout on ipad vertical */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {height: 1500px;}
  .plushka {display: none;}
  .wrapper2 {width: 450%; grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;}
  .wrapper2_action4 {left: -350%;}
  .block1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 7%;
    grid-template-areas:  "part1 part1"
                          "part2 part2"
                          "part3 part3"
  }
  .p1, .p2 {display: inline-block; position: absolute;}
  .p1 {height: 90%; width: 43%; left: 4%; top: 6%; font-size: 90px;}
  .p2 {height: 64%; width: 38%; font-size: 20px; right: 5%; top: 10%; border: 16px solid red;}
  .part2 {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr 8%;
    grid-template-areas: ". slider_wrapper ."
                         ". . ."
  }
  .part3 {grid-template-columns: 53% 30% 17%;}
  .text1_part1, .part3_2 div {font-size: 20px;}
  /* .text1_part1 {margin-top: 3.5%; margin-left: 16%;} */
  .part3_1 img {left: 1%;}
  .part3_2 div {margin-left: 10%; margin-top: 6%;}
  .part3_2 img {top: 35%; right: 18.5%;}
  .vpered1 {font-size: 32px;}
  .next1, .next2, .next3 {width: 86%; margin-left: 2%;}
  .previous1, .previous2, .previous3 {width: 70%; margin-left: 12%;}
  .button_general_block1 {left: 2%; width: 3%;}
  .button1_block1, .button2_block1, .button3_block1 {width: 3.2%;}
  .button1_block1 {top: 20%;}
  .button2_block1 {top: 35%; right: 20%;}
  .button3_block1 {top: 73%;}


  /* начало второго блока */
  .block2 {grid-template-rows: 1fr 7%;}
  .mainpart {display: block;}
  .light1, .light2, .light3 {grid-area: none; position: absolute; height: 100%; width: 88%; margin: 0% 6%;}
  .oval1 {opacity: 0; animation: red_signal_work_iphone_ipad 25s linear;}
  .stop_signal {left: 28%; opacity: 0; animation: light1_work_iphone_ipad 25s linear;}

  .oval2 {opacity: 0; animation: yellow_signal_work_iphone_ipad 25s linear;}
  .wait_signal {left: 28%; opacity: 0; animation: light2_work_iphone_ipad 25s ease;}

  .oval3 {opacity: 1; animation: light3_work_iphone_ipad 25s linear;}
  .go_signal {left: 38%; opacity: 1; animation: green_signal_work_iphone_ipad 25s ease;}

  .footer2 {grid-template-columns: 1fr 17%;}


  /* начало третьего блока */
  .block3 {grid-template-rows: 1fr 7%;}
  .footer3 {grid-template-columns: 10% 18% 1fr 17%;}
  .footer3 div {font-size: 32px;}
  .bip_bip_button {width: 35%; top: -15%; right: 3%;}
  .car8, .car10 {display: none;}
  .car1 img, .car4 img, .car5 img, .car7 img, .car9 img {height: 100%}
  .car2 img, .car3 img, .car6 img {height: 90%;}
  .car5 {width: 35%; margin-left: -17%;}
  .car2, .car6, .car7, .car3, .car4 {width: 40%;}
  .dashed_line img {width: 133%; height: 100%;}
  .second_slider_wrapper {height: 121%; width: 42%; display: grid; margin-left: -6%;}

  /* начало четвертого блока */
  .block4 {grid-template-rows: 1fr 7%;}
  .mainpart4 {grid-template-rows: 5% 10% 1fr 3%;}
  .footer4 {grid-template-columns: 1fr 20% 17%;}
  .vpered4 {font-size: 32px;}
  .city_slider {grid-template-columns: 18% 1fr 18%;}
  .third_slider_wrapper {left: 10%; height: 73%; width: 88%;}
  .road_sign_1 {top: 6%; left: 4%; height: 23%; width: 24%;}
  .road_sign_2 {display: none;}
  .road_sign_3 {top: 13%; right: -1.5%; height: 16%; width: 31%;}
  .button1_block4, .button2_block4, .button3_block4, .button4_block4, .button5_block4, .button6_block4, .button7_block4, .button8_block4, .button9_block4, .button10_block4, .button11_block4, .button12_block4 {
    height: 5.5%;
    width: 6%;
    border: 10px solid black;
  }
  #city_name_paragraphs {margin-top: 11%;}
  .city9 p, .city11 p {font-size: 31px !important; margin-top: 13% !important;}

  /* начало футора блока */
  .footer {grid-auto-rows: 1fr 7%;}
  .picture_footer img {top: -0.5%;}
  .text_footer div {font-size: 20px; top: 13%;}


  .bip_bip_img img {
    height: 37%;
    width: 100%;
  }
  .b_img {top: 0%; height: 40% !important; width: 100% !important;}
  .i_img {top: 30.5%; left: 0%;}
  .p_img {top: 63%;}
}



@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  body {height: 100vh; width: 100vw;}
  .wrapper {height: 100vh; width: 100vw;}
  .wrapper2 {height: 100vh; width: 430vw; grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;}
  .wrapper2_action4 {left: -330%;}

  /* начало первого блока */
  .p1 {font-size: 85px;}
  .p2 {height: 35%; width: 69%; font-size: 18px; margin-top: -8%; margin-left: 8%;}
  .button_general_block1 {height: 36%;}
  /* .text1_part1 {margin-left: 13%;} */
  .part3_2 div {margin-left: 50%;}
  .vpered1, .part2_footer2 div, .part5_footer3 div, .vpered4 {margin-top: 10%; font-size: 25px;}
  .plushka div {font-size: 15px; margin-top: 15%;}
  .part2 {grid-template-rows: 10% 1fr 5%;}
  .button1_block1, .button2_block1, .button3_block1 {height: 3.5%;}

  /* начало второго блока */
  .mainpart {grid-template-columns: 3% 1fr 1fr 1fr 3%;}
  .stop_signal, .wait_signal, .go_signal {font-size: 90px;}
  .stop_signal {left: 16%;}
  .wait_signal {left: 19%;}
  .go_signal {left: 33%;}
  .phrase3 {top: 22%;}

  /* начало третьего блока */
  .part1_footer3 div {font-size: 25px; margin-top: 14%;}
  .part2_footer3 div {font-size: 25px; margin-top: 8%;}
  .bip_bip_button {width: 15%; top: -8%;}
  .b2_img {display: none;}
  .i2_img {display: none;}
  .p2_img {display: none;}
  .b_img {left: -3%;}
  .i_img {left: 26%;}
  .p_img {left: 50%;}
  .bip_bip_img, .bip_bip_img2 {overflow: hidden;}

  /* начало четвертого блока */
  .bip_bip_button2 {width: 97%; top: -12%;}
  .button1_block4, .button2_block4, .button3_block4, .button4_block4, .button5_block4, .button6_block4, .button7_block4, .button8_block4, .button9_block4, .button10_block4, .button11_block4, .button12_block4 {
    height: 4.5%;
  }
  .slider_block4_part1 {grid-template-columns: 25% 1fr 25%;}
  .city_slider {grid-template-columns: 15% 1fr 15%;}
  .previous_button_part4 img {height: 70%; top: 25%; left: 44%;}
  .next_button_part4 img {height: 70%; top: 25%; left: 19%;}
  .road_sign_2 {height: 30%; width: 18%;}
  #city_name_paragraphs {margin-top: 9%;}

  /* начало четвертого блока */
 .text_footer div {font-size: 16px; top: 17%;}
 .picture_footer img {height: 129%; top: -15%;}
 .b_img2 {left: -3%;}
 .i_img2 {left: 26%;}
 .p_img2 {left: 50%;}
}



@media only screen and (min-device-width: 1280px) and (max-device-width: 1365px) {
  /* начало первого блока */
  body {height: 100vh; width: 100vw;}
  .wrapper {height: 100vh; width: 100vw;}
  .wrapper2 {height: 100vh; width: 420vw;}
  .p1 {font-size: 98px; height: 53%;}
  .p2 {font-size: 19px; height: 31%;}
  .part3_2 div {margin-left: 59%;}
  .vpered1, .part2_footer2 div, .part5_footer3 div, .vpered4 {font-size: 30px; margin-top: 5%;}
  .part3_2 div {margin-top: 2%;}
  /* .text1_part1 {margin-top: 2%; margin-left: 12%;} */
  .button_general_block1 {width: 1.7%;}
  .previous1, .previous2, .previous3 {width: 65%;}
  .next1, .next2, .next3 {width: 85%;}

  /* начало второго блока */
  .stop_signal, .wait_signal, .go_signal {font-size: 90px;}
  .stop_signal {left: 24%;}
  .wait_signal {left: 25%;}
  .go_signal {left: 37%;}
  .phrase1 div, .phrase2 div {margin-top: 1.3%;}
  .phrase3 {top: 25%;}

  /* начало третьего блока */
  .part1_footer3 div {font-size: 30px; margin-top: 5%;}
  .part2_footer3 div {font-size: 30px; margin-top: 3%;}
  .bip_bip_button {width: 14%; top: -9%;}
  .b2_img {display: none;}
  .i2_img {display: none;}
  .p2_img {display: none;}
  .b_img {left: 0%;}
  .i_img {left: 30%;}
  .p_img {left: 57%;}

/* начало четвертого блока */
  .previous_button_part4 img {height: 70%; top: 26%; left: 47%;}
  .next_button_part4 img {height: 70%; top: 26%; left: 15%;}
  .bip_bip_button2 {width: 94%; top: -10%;}
  .button1_block4, .button2_block4, .button3_block4, .button4_block4, .button5_block4, .button6_block4, .button7_block4, .button8_block4, .button9_block4, .button10_block4, .button11_block4, .button12_block4 {
  height: 6%;
  }
  .b_img2 {left: 0%;}
  .i_img2 {left: 30%;}
  .p_img2 {left: 57%;}

  /* футер */
  .text_footer div {font-size: 13px;}
  .picture_footer img {height: 105%;}
}




@media only screen and (min-device-width: 1366px) and (max-device-width: 1439px) {
  /* начало первого блока */
  body {height: 100vh; width: 100vw;}
  .wrapper {height: 100vh; width: 100vw;}
  .wrapper2 {height: 100vh; width: 420vw;}
  .p1 {font-size: 88px; margin-left: 14%;}
  .p2 {height: 31%; width: 69%; margin-left: 8%; margin-top: -1%; font-size: 19px;}
  .block1 {grid-template-columns: 1fr 1fr 1fr;}
  .button_general_block1 {height: 41%; width: 1.6%; border: 6px solid black;}
  /* .text1_part1, .part3_2 div {margin-top: 1.4%;} */
  .part3_2 div {margin-left: 62%;}
  .vpered1, .part2_footer2 div, .part5_footer3 div, .vpered4 {font-size: 30px;}
  .plushka {height: 13%; width: 17%;}
  .plushka div {font-size: 18px;}
  .button1_block1, .button2_block1, .button3_block1 {width: 2.5%;}

  /* начало второго блока */
  .stop_signal, .wait_signal, .go_signal {font-size: 90px;}
  .stop_signal {left: 25%;}
  .wait_signal {left: 27%;}
  .go_signal {left: 37%;}
  .phrase1 div, .phrase2 div {margin-top: 1%;}
  .phrase3 {top: 20%;}

  /* начало третьего блока */
  .part1_footer3 div, .part2_footer3 div {font-size: 30px;}
  .part1_footer3 div {margin-top: 6%;}
  .bip_bip_button {height: 100%; width: 14%; top: -10%;}
  .car2, .car6, .car7, .car3, .car4, .car10 {width: 26%;}
  .b2_img {display: none;}
  .i2_img {display: none;}
  .p2_img {display: none;}
  .b_img {left: 6%;}
  .i_img {left: 29%;}
  .p_img {left: 50%;}

  /* начало четвертого блока */
  .bip_bip_button2 {height: 72%; width: 85%; top: 4%; right: 8%;}
  .slider_block4_part1 {grid-template-columns: 25% 1fr 25%;}
  .previous_button_part4 img {height: 70%; top: 26%; left: 46%;}
  .next_button_part4 img {height: 70%; top: 26%; left: 12%;}
  .road_sign_2 {left: 1%;}
  .button1_block4, .button2_block4, .button3_block4, .button4_block4, .button5_block4, .button6_block4, .button7_block4, .button8_block4, .button9_block4, .button10_block4, .button11_block4, .button12_block4 {
    height: 6.5%;
  }
  .b_img2 {left: 6%;}
  .i_img2 {left: 29%;}
  .p_img2 {left: 50%;}

  .text_footer div {font-size: 14px;}
  .picture_footer img {height: 116%;}
}






@media only screen and (min-device-width: 1680px) {
  /* начало первого блока */
  .plushka div {font-size: 25px;}
  .p1 {font-size: 144px; margin-left: 10%;}
  .p2 {height: 32%; width: 70%; margin-left: 10%; margin-top: 3%; font-size: 26px;}
  .text1_part1, .part3_2 div {margin-top: 2.5%; font-size: 26px;}
  .button_general_block1 {top: 18%; width: 4%;}
  .text1_part1 {margin-top: 0.4%;}
  .part3_2 div {width: 31%; margin-left: 65%;}
  .vpered1, .part2_footer2 div, .vpered3, .vpered4 {margin-top: 4%; font-size: 43px; }
  .part3, .footer2, .footer3, .footer4, .text_footer {border-top: 7px solid black; border-bottom: 7px solid black;}
  .part3_3, .part2_footer2, .part5_footer3, .part3_footer4 {border-left: 7px solid black;}
  .slider1, .slider2 {border-bottom: 7px solid black; border-left: 7px solid black; border-right: 7px solid black;}
  .slider3 {border-left: 7px solid black; border-right: 7px solid black;}
  .button1_block1, .button2_block1, .button3_block1 {width: 2.9%;}

  /* начало второго блока */
  .mainpart {grid-template-columns: 4% 1fr 1fr 1fr 4%;}

  /* начало третьего блока */
  .part1_footer3, .part2_footer3 {border-right: 7px solid black;}
  .part2_footer3 div {margin-top: 7%;}
  .part1_footer3 div {margin-top: 12%;}
  .bip_bip_button {height: 72%; width: 14%; top: 4%; right: 2%;}
  .bip_bip_img img {height: 100%; width: 50%;}
  .b_img {left: -4%;}
  .i_img, .i_img2 {left: 26%;}
  .p_img, .p_img2 {left: 52%;}
  .b2_img {display: none;}
  .i2_img {display: none;}
  .p2_img {display: none;}

  /* начало четвертого блока */
  .previous_button_part4 img {height: 72%; left: 41%;}
  .next_button_part4 img {height: 72%; left: 10%;}
  .road_sign_2 {left: -0.5%;}
  #city_name_paragraphs {font-size: 42px;}
  .bip_bip_button2 {height: 72%; width: 85%; top: 4%; right: 8%;}

  /* футер */
  .picture_footer, .text_footer {border-left: 7px solid black;}
  .text_footer div {font-size: 17px;}
  .b_img2 {left: 0%;}
  .i_img2 {left: 29%;}
  .p_img2 {left: 55%;}
}
