@import 'reset.css';
@import 'layout.css';
body {
 width: 100%;
 height: 100%;
 margin: 0 auto;
 display: block;
 position: relative;
}
/* body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.2;
  background: url("../images/background1.png") no-repeat;
  background-size: 100% auto;
} */
html{
  position: relative;
  height: 100%;
  width: 100%;
}
.block1 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "part1 part2 part2"
                        "part3 part3 part3"
}
/* the layout on ipad */
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
  .block1 {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 10%;
  grid-template-areas:  "part1 part1 part1"
                        "part2 part2 part2"
                        "part3 part3 part3"
  }
}
.part1 {
  position: relative;
  background: #FFFFE0;
  grid-area: part1;
}
.part2 {
  position: relative;
  background: #E0FFFF;
  grid-area: part2;
  display: grid;
  grid-template-columns: 5% 1fr 7%;
  grid-template-rows: 5% 1fr 5%;
  grid-template-areas: ". . ."
                       ". slider_wrapper ."
                       ". . ."
}
.slider_wrapper {
  grid-area: slider_wrapper;
  border-radius: 80px;
  background-color: pink;
  border: 20px solid black;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "previous_button1 slider1 next_button1"
                        ". slider2 ."
                        ". slider3 ."
}
.slider1 {
  grid-area: slider1;
}
.slide1 {
  display:
  width: 100%;
  height: 100%;
  background-color: red;
}
.slide2 {
  width: 100%;
  height: 100%;
  background-color: green;
}
.slide3 {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.slider2 {
  grid-area: slider2;
}
.slider3 {
  grid-area: slider3;
}
.next {
  grid-area: next_button1;
}
.previous {
  grid-area: previous_button1;
}
.part3 {
  position: relative;
  background: white;
  grid-area: part3;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-areas: "part3_1 part3_2 part3_3";
}
.part3_1 {
  grid-area: part3_1;
  /* background: red; */
}
.part3_1 img {
  position: absolute;
  top: 14%;
  left: 1%;
}
.part3_1 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 2.5%;
  margin-left: 11%;
}
.part3_2 {
  grid-area: part3_2;
  /* background: yellow; */
}
.part3_2 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 2.5%;
  margin-left: 64%;
}
.part3_2 img {
  position: absolute;
  top: 39%;
  right: 11%;
}
.part3_3 {
  grid-area: part3_3;
  background: #00B6F5;
  border-left: 5px solid black;
}
.part3_3 div {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

/* .part3 p {
  display: inline-block;
  margin-top: 1%;
  font-size: 24px;
  font-family: TwentytwelveSansG;
} */





.p1 {
  height: 53%;
  width: 85%;
  margin: 0 auto;
  margin-top: 0%;
  /* background: red; */
  opacity: 1;
  position: relative;
  font-size: 115px;
  font-family: TwentytwelveSansG;
  /* text-decoration: underline; */
}
.p2 {
  height: 34%;
  width: 70%;
  margin: 0 auto;
  /* background: red; */
  opacity: 1;
  position: relative;
  font-size: 23px;
  font-family: TwentytwelveSansG;
  border-radius: 50px;
  border: 20px solid red;
  padding: 15px;
}
