@import 'reset.css';
@import 'layout.css';
body {
 width: 100%;
 height: 100%;
 margin: 0 auto;
 display: block;
 position: relative;
}
/* body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.2;
  background: url("../images/background1.png") no-repeat;
  background-size: 100% auto;
} */
html{
  position: relative;
  height: 100%;
  width: 100%;
}
.block1 {
  height: 100%;
  width: 100%;
  /* display: grid; */
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "part1 part2 part2"
                        "part3 part3 part3"
}
/* the layout on ipad */
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
  .block1 {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 10%;
  grid-template-areas:  "part1 part1 part1"
                        "part2 part2 part2"
                        "part3 part3 part3"
  }
}
.part1 {
  position: relative;
  background: #FFFFE0;
  grid-area: part1;
}
.part2 {
  position: relative;
  background: #E0FFFF;
  grid-area: part2;
  display: grid;
  grid-template-columns: 5% 1fr 7%;
  grid-template-rows: 5% 1fr 5%;
  grid-template-areas: ". . ."
                       ". slider_wrapper ."
                       ". . ."
}
.slider_wrapper {
  grid-area: slider_wrapper;
  border-radius: 80px;
  background-color: pink;
  border: 20px solid black;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "previous_button1 slider1 next_button1"
                        "previous_button2 slider2 next_button2"
                        "previous_button3 slider3 next_button3"
}
.slider1 {
  position: relative;
  grid-area: slider1;
  overflow: hidden;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}
#slide1 {
  width: 100%;
  height: 100%;
  background-color: red;
}
/* .mask {
  mask-type: alpha;
  mask: url("../images/nextbutton2.svg");
  background-color: black;
  position:absolute;
  bottom: 0;
  left: 20%;
  height: 100%;
  width: 50%;
}
.mask:hover {
  background-color: blue;
} */
/* #slide1 img {
  position:absolute;
  bottom: 0;
  left: 20%;
  height: 100%;
} */
#slide2 {
  width: 100%;
  height: 100%;
  background-color: green;
}
#slide3 {
  width: 100%;
  height: 100%;
  background-color: yellow;
}
.next1 {
  height: 58%;
  width: 78%;
  margin: 0 auto;
  margin-top: 50%;
  grid-area: next_button1;
  background: url("../images/nextbutton.png") no-repeat;
}
.previous1 {
  height: 58%;
  width: 58%;
  margin: 0 auto;
  margin-top: 50%;
  grid-area: previous_button1;
  background: url("../images/previousbutton.png") no-repeat;
}
.slider2 {
  position: relative;
  grid-area: slider2;
  overflow: hidden;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}
.next2 {
  height: 58%;
  width: 78%;
  margin: 0 auto;
  margin-top: 50%;
  grid-area: next_button2;
  background: url("../images/nextbutton.png") no-repeat;
}
.previous2 {
  height: 58%;
  width: 58%;
  margin: 0 auto;
  margin-top: 50%;
  grid-area: previous_button2;
  background: url("../images/previousbutton.png") no-repeat;
}
#slide1_2 {
  width: 100%;
  height: 100%;
  background-color: blue;
}
#slide2_2 {
  width: 100%;
  height: 100%;
  background-color: purple;
}
#slide3_2 {
  width: 100%;
  height: 100%;
  background-color: orange;
}

.slider3 {
  position: relative;
  grid-area: slider3;
  overflow: hidden;
}


.part3 {
  position: relative;
  background: white;
  grid-area: part3;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-areas: "part3_1 part3_2 part3_3";
}
.part3_1 {
  grid-area: part3_1;
  /* background: red; */
}
.part3_1 img {
  position: absolute;
  top: 14%;
  left: 1%;
}
.part3_1 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 2.5%;
  margin-left: 11%;
}
.part3_2 {
  grid-area: part3_2;
  /* background: yellow; */
}
.part3_2 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 2.5%;
  margin-left: 64%;
}
.part3_2 img {
  position: absolute;
  top: 39%;
  right: 11%;
}
.part3_3 {
  grid-area: part3_3;
  background: #00B6F5;
  border-left: 5px solid black;
}
.part3_3 div {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

/* .part3 p {
  display: inline-block;
  margin-top: 1%;
  font-size: 24px;
  font-family: TwentytwelveSansG;
} */





.p1 {
  height: 53%;
  width: 85%;
  margin: 0 auto;
  margin-top: 0%;
  /* background: red; */
  opacity: 1;
  position: relative;
  font-size: 115px;
  font-family: TwentytwelveSansG;
  /* text-decoration: underline; */
}
.p2 {
  height: 31%;
  width: 70%;
  margin: 0 auto;
  /* background: red; */
  opacity: 1;
  position: relative;
  font-size: 22px;
  font-family: TwentytwelveSansG;
  border-radius: 50px;
  border: 20px solid red;
  padding: 15px;
}


/* начало второго блока */
.block2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  /* display: none; */
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "mainpart"
                        "footer2"
}
/* _______________________________________________ */
.mainpart {
  grid-area: mainpart;
  position: relative;
  background-image: url("../images/road.jpg");
  display: grid;
  grid-template-columns: 2% 1fr 1fr 1fr 2%;
  grid-template-areas:  ". light1 light2 light3 ."
}
.oval1, .oval2, .oval3 {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100% / 100%;
  transform: skew(20deg);
}
.stop_signal, .wait_signal, .go_signal {
  position: absolute;
  font-size: 120px;
  font-family: TwentytwelveSansG;
  transform: rotate(-32deg);
}
.light1 {
  grid-area: light1;
  position: relative;
  opacity: 0.4;
  animation: red_signal_work 25s linear;
}
.oval1 {
  background: red;
}
.stop_signal {
  top: 40%;
  left: 17%;
}
.light2 {
  grid-area: light2;
  position: relative;
  opacity: 0.4;
  animation: yellow_signal_work 25s ease;
}
.oval2 {
  background: #FFD42F;
}
.wait_signal {
  top: 40%;
  left: 19%;
}
.light3 {
  grid-area: light3;
  position: relative;
  animation: green_signal_work 25s ease;
}
.oval3 {
  background: #11DA00;
}
.go_signal {
  top: 40%;
  left: 33%;
}
/* _______________________________________________ */
@keyframes red_signal_work {
  0% {opacity: 1}
  20% {opacity: 1}

  21% {opacity: 0}
  22% {opacity: 0}

  23% {opacity: 1}
  24% {opacity: 1}

  25% {opacity: 0}
  26% {opacity: 0}

  27% {opacity: 1}
  28% {opacity: 1}

  29% {opacity: 0}
  30% {opacity: 0}

  31% {opacity: 1}
  32% {opacity: 1}

  33% {opacity: 0}
  34% {opacity: 0.4}
  100% {opacity: 0.4}
}
@keyframes yellow_signal_work {
  0% {opacity: 0.4}
  34% {opacity: 0.4}
  35% {opacity: 1}
  50% {opacity: 1}

  51% {opacity: 0}
  52% {opacity: 0}

  53% {opacity: 1}
  54% {opacity: 1}

  55% {opacity: 0}
  56% {opacity: 0}

  57% {opacity: 1}
  58% {opacity: 1}

  59% {opacity: 0}
  60% {opacity: 0}

  61% {opacity: 1}
  62% {opacity: 1}

  63% {opacity: 0.4}
  100% {opacity: 0.4}
}
@keyframes green_signal_work {
  0% {opacity: 0.4}
  65% {opacity: 0.4}
  66% {opacity: 1}
  100% {opacity: 1}
}
/* _______________________________________________ */
.footer2 {
  grid-area: footer2;
  position: relative;
  background: #E0FFFF;
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-areas:  "part1_footer2 part2_footer2";
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.part1_footer2 {
  position: relative;
  grid-area: part1_footer2;
}
.part1_footer2 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 1.5%;
  margin-left: 2%;
}
.part2_footer2 {
  grid-area: part2_footer2;
  background: #00B6F5;
  border-left: 5px solid black;
}
.part2_footer2 div {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
