@import 'reset.css';
@import 'layout.css';
body {
 width: 100%;
 height: 100%;
 margin: 0 auto;
 display: block;
 position: relative;
}
/* body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.2;
  background: url("../images/background1.png") no-repeat;
  background-size: 100% auto;
} */
html{
  position: relative;
  height: 100%;
  width: 100%;
}

/* начало первого блока */
.block1 {
  height: 100%;
  width: 100%;
  /* display: grid; */
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "part1 part2 part2"
                        "part3 part3 part3"
}
/* the layout on ipad */
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
  .block1 {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 10%;
  grid-template-areas:  "part1 part1 part1"
                        "part2 part2 part2"
                        "part3 part3 part3"
  }
}
/* _______________________________________________ */
.part1 {
  position: relative;
  background: #FFFFE0;
  grid-area: part1;
}
.p1 {
  height: 53%;
  width: 85%;
  margin: 0 auto;
  margin-top: 0%;
  /* background: red; */
  opacity: 1;
  position: relative;
  font-size: 115px;
  font-family: TwentytwelveSansG;
  /* text-decoration: underline; */
}
.p2 {
  height: 33%;
  width: 70%;
  margin: 0 auto;
  margin-top: -1%;
  /* background: red; */
  opacity: 1;
  position: relative;
  font-size: 22px;
  font-family: TwentytwelveSansG;
  border-radius: 50px;
  border: 19px solid red;
  padding: 15px;
}
/* _______________________________________________ */

.part2 {
  position: relative;
  background: #E0FFFF;
  grid-area: part2;
  display: grid;
  grid-template-columns: 5% 1fr 7%;
  grid-template-rows: 5% 1fr 5%;
  grid-template-areas: ". . ."
                       ". slider_wrapper ."
                       ". . ."
}
.slider_wrapper {
  grid-area: slider_wrapper;
  border-radius: 80px;
  background-color: pink;
  border: 20px solid black;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "previous_button1 slider1 next_button1"
                        "previous_button2 slider2 next_button2"
                        "previous_button3 slider3 next_button3"
}
.slider1 {
  position: relative;
  grid-area: slider1;
  overflow: hidden;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}
#slide1, #slide2, #slide3 {width: 100%; height: 100%;}
#slide1 {background-color: red;}
#slide2 {background-color: green;}
#slide3 {background-color: yellow;}

.slider2 {
  position: relative;
  grid-area: slider2;
  overflow: hidden;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#slide1_2, #slide2_2, #slide3_2 {width: 100%; height: 100%;}
#slide1_2 {background-color: blue;}
#slide2_2 {background-color: purple;}
#slide3_2 {background-color: orange;}

.slider3 {
  position: relative;
  grid-area: slider3;
  overflow: hidden;
  border-left: 5px solid black;
  border-right: 5px solid black;
}
#slide1_3, #slide2_3, #slide3_3 {width: 100%; height: 100%;}
#slide1_3 {background-color: brown;}
#slide2_3 {background-color: green;}
#slide3_3 {background-color: skyblue;}


.next1, .next2, .next3 {
  height: 58%;
  width: 78%;
  margin: 0 auto;
  margin-top: 50%;
}
.next1 { grid-area: next_button1; background: url("../images/nextbutton.png") no-repeat;}
.next2 { grid-area: next_button2; background: url("../images/nextbutton.png") no-repeat;}
.next3 { grid-area: next_button3; background: url("../images/nextbutton.png") no-repeat;}

.previous1, .previous2, .previous3 {
  height: 58%;
  width: 58%;
  margin: 0 auto;
  margin-top: 50%;
}
.previous1 { grid-area: previous_button1; background: url("../images/previousbutton.png") no-repeat;}
.previous2 { grid-area: previous_button2; background: url("../images/previousbutton.png") no-repeat;}
.previous3 { grid-area: previous_button3; background: url("../images/previousbutton.png") no-repeat;}

/* _______________________________________________ */
.part3 {
  position: relative;
  background: white;
  grid-area: part3;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-areas: "part3_1 part3_2 part3_3";
}
.part3_1 {
  grid-area: part3_1;
  /* background: red; */
}
.part3_1 img {
  position: absolute;
  top: 14%;
  left: 1%;
}
.part3_1 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 2.5%;
  margin-left: 11%;
}
.part3_2 {
  grid-area: part3_2;
  /* background: yellow; */
}
.part3_2 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 2.5%;
  margin-left: 64%;
}
.part3_2 img {
  position: absolute;
  top: 40%;
  right: 11%;
}
.part3_3 {
  grid-area: part3_3;
  background: #00B6F5;
  border-left: 5px solid black;
}
.part3_3 div {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

/* .part3 p {
  display: inline-block;
  margin-top: 1%;
  font-size: 24px;
  font-family: TwentytwelveSansG;
} */







/* начало второго блока */
.block2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  display: none;
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "mainpart"
                        "footer2"
}
/* _______________________________________________ */
.mainpart {
  grid-area: mainpart;
  position: relative;
  background-image: url("../images/road.jpg");
  display: grid;
  grid-template-columns: 2% 1fr 1fr 1fr 2%;
  grid-template-areas:  ". light1 light2 light3 ."
}
.oval1, .oval2, .oval3 {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100% / 100%;
  transform: skew(20deg);
}
.stop_signal, .wait_signal, .go_signal {
  position: absolute;
  font-size: 120px;
  font-family: TwentytwelveSansG;
  transform: rotate(-32deg);
}
.light1 {
  grid-area: light1;
  position: relative;
  opacity: 0.4;
  animation: red_signal_work 25s linear;
}
.oval1 {
  background: red;
}
.stop_signal {
  top: 40%;
  left: 17%;
}
.light2 {
  grid-area: light2;
  position: relative;
  opacity: 0.4;
  animation: yellow_signal_work 25s ease;
}
.oval2 {
  background: #FFD42F;
}
.wait_signal {
  top: 40%;
  left: 19%;
}
.light3 {
  grid-area: light3;
  position: relative;
  animation: green_signal_work 25s ease;
}
.oval3 {
  background: #11DA00;
}
.go_signal {
  top: 40%;
  left: 33%;
}
/* _______________________________________________ */
@keyframes red_signal_work {
  0% {opacity: 1}
  20% {opacity: 1}

  21% {opacity: 0}
  22% {opacity: 0}

  23% {opacity: 1}
  24% {opacity: 1}

  25% {opacity: 0}
  26% {opacity: 0}

  27% {opacity: 1}
  28% {opacity: 1}

  29% {opacity: 0}
  30% {opacity: 0}

  31% {opacity: 1}
  32% {opacity: 1}

  33% {opacity: 0}
  34% {opacity: 0.4}
  100% {opacity: 0.4}
}
@keyframes yellow_signal_work {
  0% {opacity: 0.4}
  34% {opacity: 0.4}
  35% {opacity: 1}
  50% {opacity: 1}

  51% {opacity: 0}
  52% {opacity: 0}

  53% {opacity: 1}
  54% {opacity: 1}

  55% {opacity: 0}
  56% {opacity: 0}

  57% {opacity: 1}
  58% {opacity: 1}

  59% {opacity: 0}
  60% {opacity: 0}

  61% {opacity: 1}
  62% {opacity: 1}

  63% {opacity: 0.4}
  100% {opacity: 0.4}
}
@keyframes green_signal_work {
  0% {opacity: 0.4}
  65% {opacity: 0.4}
  66% {opacity: 1}
  100% {opacity: 1}
}
/* _______________________________________________ */
.footer2 {
  grid-area: footer2;
  position: relative;
  background: #E0FFFF;
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-areas:  "part1_footer2 part2_footer2";
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.part1_footer2 {
  position: relative;
  grid-area: part1_footer2;
}
.part1_footer2 div {
  font-size: 23px;
  font-family: TwentytwelveSansG;
  margin-top: 1.5%;
  margin-left: 2%;
}
.part2_footer2 {
  grid-area: part2_footer2;
  background: #00B6F5;
  border-left: 5px solid black;
}
.part2_footer2 div {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}


/* начало третьего блока */
.block3 {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  display: grid;
  display: none;
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "mainpart3"
                        "footer3"
}

/* _______________________________________________ */
.mainpart3 {
  grid-area: mainpart3;
  position: relative;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "line_top"
                       "line_middle1"
                       "line_middle2"
                       "line_bottom"
}

.line_top {grid-area: line_top;}
.line_middle1 {grid-area: line_middle1;}
.line_middle2 {grid-area: line_middle2;}
.line_bottom {grid-area: line_bottom; position: relative;}

.car1, .car2 {position: absolute; height: 100%;}
.car1 {left: 0%; animation: 10s infinite ease-in;}
.car2 {left: 55%; animation: 7s infinite ease-in;}

.car3, .car4, .car5, .car6, .car7, .car8, .car9, .car10 {
  position: relative;
  display: inline-block;
  height: 100%;
}
.car5, .car8, .car9 {width: 22%;}
.car1 {width: 23%;}
.car5 {margin-left: 2%}
.car2, .car6, .car7, .car3, .car4, .car10 {width: 25%;}
.car3 {margin-left: -5%;}
.car4 {margin-right: 1%;}

.car5 img, .car7 img, .car10 img {animation: maschiny_v_probke 1s infinite ease-in}
.car6 img, .car3 img, .car9 img {animation: maschiny_v_probke2 1s infinite ease-in}
.car4 img, .car8 img {animation: maschiny_v_probke3 1s infinite ease-in}

.car2 img, .car3 img, .car6 img, .car10 img {
  position: absolute;
  bottom: 0;
  height: 141%;
}
.car1 img, .car4 img, .car5 img, .car7 img, .car8 img, .car9 img {
  position: absolute;
  bottom: 0;
  height: 165%;
}
@keyframes maschiny_v_probke {
  0% {margin-bottom: 0%;}
  19% {margin-bottom: 0%;}
  20% {margin-bottom: 0.5%; , margin-left: 1%}
  39% {margin-bottom: 0.5%; margin-left: 1%}
  40% {margin-bottom: 0%;}
  59% {margin-bottom: 0%;}
  60% {margin-bottom: 1%;}
  79% {margin-bottom: 1%;}
  80% {margin-bottom: 0%; margin-left: 1%}
  99% {margin-bottom: 0%; margin-left: 1%}
  100% {margin-bottom: 1%;}
}
@keyframes maschiny_v_probke2 {
  0% {margin-bottom: 1%;}
  19% {margin-bottom: 1%;}
  20% {margin-bottom: 0%; margin-right: 1%}
  39% {margin-bottom: 0%; margin-right: 1%}
  40% {margin-bottom: 1%;}
  59% {margin-bottom: 1%;}
  60% {margin-bottom: 0%;}
  79% {margin-bottom: 0%;}
  80% {margin-bottom: 1%;}
  99% {margin-bottom: 1%;}
  100% {margin-bottom: 0%;}
}
@keyframes maschiny_v_probke3 {
  0% {margin-bottom: 0%; margin-left: 1%}
  19% {margin-bottom: 0%; margin-left: 1%}
  20% {margin-bottom: 1%;}
  39% {margin-bottom: 1%;}
  40% {margin-bottom: 0%; margin-left: 1.5%}
  59% {margin-bottom: 0%; margin-left: 1.5%}
  60% {margin-bottom: 1%;}
  79% {margin-bottom: 1%;}
  80% {margin-bottom: 0%; margin-left: 1%}
  99% {margin-bottom: 0%; margin-left: 1%}
  100% {margin-bottom: 1%;}
}
@keyframes edut_tachki1 {
  0% {}
  100% {left: 130%;}
}
@keyframes edut_tachki2 {
  0% {bottom: 0%;}
  10% {bottom: 2%;}
  15% {bottom: 0%;}
  20% {bottom: 2%;}
  25% {bottom: 0%;}
  29% {bottom: 0%;}

  30% {bottom: 2%; left: 30%;}
  34% {bottom: 2%; left: 30%;}

  35% {bottom: 0%; left: 35%;}
  39% {bottom: 0%; left: 35%;}

  40% {bottom: 4%; left: 40%;}
  44% {bottom: 4%; left: 40%;}

  45% {bottom: 0%; left: 45%;}
  49% {bottom: 0%; left: 45%;}

  50% {bottom: 4%; left: 50%;}
  54% {bottom: 4%; left: 50%;}


  60% {bottom: 0%;}
  61% {bottom: 2%;}
  60% {bottom: 0%;}
  61% {bottom: 2%;}
  62% {bottom: 0%;}
  /* 100% {left: 130%;} */
}
/* _______________________________________________ */

.footer3 {
  grid-area: footer3;
  position: relative;
  background: #E0FFFF;
  display: grid;
  grid-template-columns: 7% 12% 10% 1fr 10%;
  grid-template-areas:  "part1_footer3 part2_footer3 part3_footer3 part4_footer3 part5_footer3";
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.part1_footer3 div, .part2_footer3 div, .part3_footer3 div, .part5_footer3 div {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
}
.part1_footer3 div, .part2_footer3 div, .part3_footer3 div {margin-top: 4%;}
.part1_footer3 {
  grid-area: part1_footer3;
  border-right: 5px solid black;
  cursor: pointer;
  transition: all 0.25s ease;
}
.part1_footer3:hover {
  background-color: #11DA00;
}
.part2_footer3 {
  grid-area: part2_footer3;
  border-right: 5px solid black;
  cursor: pointer;
  transition: all 0.25s ease;
}
.part2_footer3:hover {
  background-color: #FF0000;
}
.part3_footer3 {
  grid-area: part3_footer3;
  border-right: 5px solid black;
  cursor: pointer;
  transition: all 0.25s ease;
}
.part3_footer3:hover {
  background-color: #0038FF;
}
.part4_footer3 {
  grid-area: part4_footer3;
  position: relative;
}
.part4_footer3 img {
  position: absolute;
  top: 17%;
  right: 2%;
  cursor: pointer;
}
.part5_footer3 {
  grid-area: part5_footer3;
  background: #00B6F5;
  border-left: 5px solid black;
  cursor: pointer;
  /* transition: all 0.25s ease; */
}
.vpered3 {
  margin-top: 4%;
}



/* начало четвертого блока */
.block4 {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  display: grid;
  /* display: none; */
  grid-template-rows: 1fr 10%;
  grid-template-areas:  "mainpart4"
                        "footer4"
}
.mainpart4 {
  grid-area: mainpart4;
  display: grid;
  grid-template-rows: 5% 15% 1fr 5%;
  grid-template-columns: 3% 1fr 3%;
  grid-template-areas:  ". . ."
                        ". slider_block4_part1 ."
                        ". slider_block4_part2 ."
                        ". . ."
}
.slider_block4_part1 {
  grid-area: slider_block4_part1;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-areas:  ".  city_slider .";
  position: relative;
}
.city_slider {
  grid-area: city_slider;
  position: relative;
  display: grid;
  grid-template-columns: 12% 1fr 12%;
  grid-template-areas: "previous_button_part4 city_name next_button_part4"
}
.rectangle_part4 {
  position: absolute;
  top: 0%;
  height: 80%;
  width: 95%;
  background-color: pink;
  border-radius: 100px;
  border: 20px solid black;
  z-index: -1;
}
.previous_button_part4 {
  grid-area: previous_button_part4;
  border-right: 5px solid black;
  position: relative;
}
.previous_button_part4 img {
  position: absolute;
  height: 80%;
  top: 19%;
  left: 38%;
}
.next_button_part4 {
  grid-area: next_button_part4;
  border-left: 5px solid black;
  position: relative;
}
.next_button_part4 img {
  position: absolute;
  height: 80%;
  top: 19%;
  left: 10%;
}
.city_name {
  position: relative;
  grid-area: city_name;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.city_name div {
  position: relative;
  width: 100%;
  height: 100%;
}
/* .city_name div div  */
.city1 {
  /* background-color: red; */
}
.city2 {
  background-color: green;
}
.city3 {
  background-color: blue;
}
#city_name_paragraphs {
  position: absolute;
  display: inline-block;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  top: 35%;
  left: 39%;
}

.slider_block4_part2 {
  grid-area: slider_block4_part2;
  border-radius: 80px;
  border: 20px solid black;
  overflow: hidden;
}
.background1_part4 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/nsk_background.png) no-repeat top;
  background-size: 100%;
}

/* _______________________________________________ */
.road_sign_1 {
  position: absolute;
  top: 3%;
  left: 8%;
  height: 27%;
  width: 16%;
}
.road_sign_1 img {
  height: 100%;
  width: 100%;
}
.road_sign_2 {
  position: absolute;
  top: 9%;
  left: 0%;
  height: 27%;
  width: 16%;
}
.road_sign_2 img {
  height: 100%;
  width: 87%;
}
.road_sign_3 {
  position: absolute;
  top: 9%;
  right: 0.5%;
  height: 29%;
  width: 24%;
}
.road_sign_3 img {
  height: 82%;
  width: 100%;
}
/* _______________________________________________ */
.footer4 {
  grid-area: footer4;
  position: relative;
  background: #E0FFFF;
  display: grid;
  grid-template-columns: 1fr 11% 10%;
  grid-template-areas:  "part1_footer4 part2_footer4 part3_footer4";
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.part1_footer4 {
  grid-area: part1_footer4;
  position: relative;
}
.hr {
 position: absolute;
 border: 3px dashed black;
 width: 86%;
 top: 33%;
 left: 5%;
}
.circle {
  height: 30px;
  width: 30px;
  position: relative;
  display: inline-block;
  background-color: grey;
  border-radius: 50%;
  border: 5px solid black;
  margin-top: 1%;
  margin-left: 4%;
}
.part2_footer4 {
  grid-area: part2_footer4;
  position: relative;
}
.part2_footer4 img {
  position: absolute;
  top: 17%;
  right: 7%;
  cursor: pointer;
}
.part3_footer4 {
  grid-area: part3_footer4;
  border-left: 5px solid black;
  background: #00B6F5;
  cursor: pointer;
}
.vpered4 {
  width: 100%;
  font-size: 36px;
  font-family: TwentytwelveSansG;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
